// BUTTON

$button-width: 260px;
$button-border-color: #7a7a7a;
$button-background-color: #ffa500bd;
$button-padding-vertical : 10px;
$button-padding-horizontal: 10px;
$button-line-height: 30px;
$button-close-circle-size: 30px;
$font-family: 'Roboto', sans-serif;


// DD
$color-dd-grey-light-1 : #c1c1c1;
$color-dd-green-light-1 : #75a522;
$color-dd-blue-light-1 : #0b0c22;
$color-dd-blue-light-2 : #1a1b30;
$color-dd-white-light-1 : #FFF;
$dd-font-family: "Open Sans", sans-serif;
$input-height: 56px;
$default-font-size : 12px;

// COLORS
$color-green-light-1 : #75a522;


// GRID
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal : 6rem;
$color-white : #fff;
$color-black : #000;

$color-black-dark : #0b0c0d;
$color-black-light : #171a1a;

