// BUTTON

$button-width: 260px;
$button-border-color: #7a7a7a;
$button-background-color: #f2a44d;
$button-padding-vertical : 10px;
$button-padding-horizontal: 10px;
$button-line-height: 100px;
$button-close-circle-size: 100px;
$font-family: 'Roboto', sans-serif;

