section {
  padding: 50px; }

html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif; }

* {
  box-sizing: border-box; }

button.delete {
  font-family: "Roboto", sans-serif;
  border: 2px solid #7a7a7a;
  padding: 10px 10px;
  min-width: 260px;
  line-height: 100px;
  font-size: 35px;
  font-weight: bold;
  background-color: #f2a44d;
  opacity: 0.9; }
  button.delete::after {
    content: '\00d7';
    margin-left: 8px;
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    float: right;
    color: #000;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    line-height: 100px;
    font-size: 83.33333px; }
